{% load static %}

<nav class="navbar navbar-light navbar-expand-lg fixed-top z-n5 bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="/">Netlodges</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/service/">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="/features/">Features</a></li>
                <li class="nav-item"><a class="nav-link" href="/pricing/">Pricing</a></li>
                <li class="nav-item"><a class="nav-link" href="/blog/">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="/product/">Product</a></li>
                <li class="nav-item"><a class="nav-link" href="/payment/">Payment</a></li>
                <li class="nav-item"><a class="nav-link" href="/shoppingcart/">Shopping Cart</a></li>
                <li class="nav-item"><a class="nav-link" href="/aboutus/">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="/contactus/">Contact Us</a></li>
                <li class="nav-item"><a class="nav-link" href="/accounts/login/" style="text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff, 0 0 50px #00ffff, 0 0 60px #00ffff, 0 0 70px #00ffff; ">Login</a></li>         
                <li class="nav-item"><a class="nav-link" href="/ccounts/signup/" style="text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff, 0 0 50px #00ffff, 0 0 60px #00ffff, 0 0 70px #00ffff; ">Signup</a></li>       
        </div>
    </div>
</nav>
