{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<style>
.page-content {
  padding-top: 70px; /* Adjust the value as needed */
}
</style>

<div class="container-fluid">
    <div class="page-content">
<div class="container-fluid mt-6">
    <div class="card bg-gray-100 rounded-xl">
        <div class="card-body">
            <h2 class="mb-4 text-2xl text-center">Newest items</h2>

            <div class="row">
                {% for item in items %}
                <div class="col-md-4">
                    <a href="{% url 'item:detail' item.id %}">
                        <div class="card">
                            <img src="{{ item.image.url }}" class="card-img-top rounded-top-xl" alt="{{ item.name }}">
                            <div class="card-body">
                                <h2 class="card-title">{{ item.name }}</h2>
                                <p class="card-text">Price: {{ item.price }}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="card bg-gray-100 rounded-xl mt-6">
        <div class="card-body">
            <h2 class="mb-4 text-2xl text-center">Categories</h2>

            <div class="row">
                {% for category in categories %}
                <div class="col-md-4">
                    <a href="#">
                        <div class="card">
                            <div class="card-body">
                                <h2 class="card-title">{{ category.name }}</h2>
                                <p class="card-text">{{ category.items.count }} items</p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
