{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home Netmarketplace</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
    <link rel="stylesheet" href="{% static 'assets/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/baguetteBox.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/smoothproducts.css' %}">
    
    <style>
        .page-content {
            padding-top: 70px; /* Adjust the value as needed */
        }
    </style>
</head>

<body>
    {% include 'includes/navbar.html' %}

    <main class="page landing-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="page-content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </section>
    </main>

    {% include 'includes/footer.html' %}

    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/baguetteBox.min.js' %}"></script>
    <script src="{% static 'assets/js/smoothproducts.min.js' %}"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
</body>
</html>
